.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    box-sizing: border-box;
}


